.btn-config {
    background-color: #c526d7;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

.stationName {
    font-size: 16px;
    font-weight: bold;
}

.stationAddress {
    font-size: 14px;
}

.marker-on {
    border: none;
    cursor: pointer;
    height: 48px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url('@/../../../../../HomeChargerMANAGEMENT/public/marker-icons/mapbox-marker-icon-20px-green.png');
}

.marker-off {
    border: none;
    cursor: pointer;
    height: 48px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url('@/../../../../../HomeChargerMANAGEMENT/public/marker-icons/mapbox-marker-icon-20px-red.png');
}

.station-list:hover{
    transform: scale(1.1);
}